* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}


ul.list-style-custom li {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
    flex: 0 0 100%;
}

ol.list-style-custom li {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1.6rem;
    flex: 0 0 100%;
}

ul.list-style-custom li::before {
    content: '';
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: var(--rose-800);
    margin-right: 0.8rem;
    flex: 0 0 0.4rem;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Outfit', 'Young Serif', sans-serif;
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--stone-600);
    background-color: var(--stone-100);
}

.container {
    width: 100%;
    min-height: 100vh;

}

.card {
    background-color: var(--white);
    width: 100%;
    height: 100%;

}

.card-header .card-image {
    aspect-ratio: 16 / 8;
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 4rem 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.card-body-header {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.card-body-header-title {
    font-family: 'Young Serif', sans-serif;
    font-size: 3.2rem;
    line-height: 100%;
    font-weight: 400;
    color: var(--stone-900);
}

.card-body-preparation-time {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    border-radius: 1.2rem;
    background-color: var(--rose-50);
}

.card-body-preparation-time-title {
    font-size: 1.8rem;
    line-height: 100%;
    font-weight: 600;
    color: var(--rose-800);
}

.card-body-ingredients {
    display: flex;
    flex-direction: column;
    gap: 2.4rem
}

.card-body-ingredients-title {
    font-family: 'Young Serif', sans-serif;
    font-size: 2.6rem;
    line-height: 100%;
    font-weight: 400;
    color: var(--brown-800);
}

.card-body-divider {
    width: 100%;
    height: 0.1rem;
    background-color: var(--stone-150);
}

.card-body-instructions {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.card-body-instructions-title {
    font-family: 'Young Serif', sans-serif;
    font-size: 2.6rem;
    line-height: 100%;
    font-weight: 400;
    color: var(--brown-800);
}

.card-body-instructions-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.card-body-instructions-list-number {
    color: var(--brown-800);
}

.card-body-nutrition {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.card-body-nutrition-title {
    font-family: 'Young Serif', sans-serif;
    font-size: 2.6rem;
    line-height: 100%;
    font-weight: 400;
    color: var(--brown-800);
}


.card-body-nutrition-table {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.card-body-nutrition-table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.card-body-nutrition-table-header-cell {
    flex: 1 1 100%;
    color: var(--stone-600);
    padding-left: 3.2rem;
}

.card-body-nutrition-table-header-cell-divider {
    margin: 1.2rem 1.2rem 1.2rem -3.2rem;
}

.card-body-nutrition-table-header-cell:last-child {
    color: var(--brown-800);
    font-weight: 700;
}

@media (width >=616px) {
    .container {
        width: 616px;
        margin: 12.8rem auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2.4rem;
        overflow: hidden;
    }

    .card-header {
        padding: 4rem 4rem 0 4rem;
    }

    .card-image {
        border-radius: 1.2rem;

    }

}